.my_item_message {
	display: flex;
	justify-content: flex-end;
	column-gap: 15px;
	.my_message {
		position: relative;
		background: rgba(72, 141, 49, 0.83);
		align-self: flex-start;
		line-height: 18px;
		padding: 5px 10px;
		border-radius: 8px 0px 8px 8px;
		max-width: 447px;
		flex: 0 1 auto;
		word-wrap: break-word;
		white-space: pre-wrap; // Оставляет больше одного пробела между символами 
		&::after {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 10px 0px 9px 0;

			background: black;
			right: -10px;
			top: 0px;
		}
		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 0px 0px 10px 0px;
			background: rgba(72, 141, 49, 0.83);
			right: -10px;
			top: 0px;
		}
	}
}
.my_picture {
	// justify-content: end;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	.my_img {
		transform: scale(3.5, 3.5);
		object-fit: cover;
		object-position: -12px -11px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
}
