.main_sideBar {
	padding: 15px;
	background: #2b303b;
	border-radius: 5px;
	.sideBar_list {
		.sideBar_item {
			border-radius: 2px;
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
			.sideBar_link {
				border-radius: 2px;
				width: 170px;
				display: inline-block;
				padding: 5px 7px;
				background: #393e48;
				color: #c6c7ca;
				transition: all linear 0.15s;
				&:hover {
					background: #6b6e75;
					color: white;
					transition: all linear 0.15s;
					font-weight: 500;
				}
			}
			.active_link {
				background: #6b6e75;
				color: white;
				transition: all linear 0.15s;
				font-weight: 500;
			}
		}
	}
}
