@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Poppins:wght@300;500;600;700&family=Rubik:wght@400;500;700&family=Sen:wght@400;700&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	font-size: 16px;
	color: white;
	// overflow: hidden;
	font-family: "Montserrat";
}
body {
	line-height: 1;
	background-color: #1c1e25;
}
.wrapper {
	padding: 15px 0px 0px 0px;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
// main {
// 	flex-grow: 1;
// }
// [class*="__container"] {
// 	max-width: 1050px;
// 	width: 100%;
// 	padding: 0 15px;
// 	margin: 0 auto;
// 	border: 1px solid black;
// }
.main__container {
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	column-gap: 12px;
	flex-grow: 1;
}
.main_content {
	position: relative;
	flex: 1 1 auto;
	background: #2b303b;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
