.dialogs_container {
	font-size: 14px;
	display: flex;
	height: 89.5vh; // Додеталь адаптив масштабирования (zoom-in zoom-out)
	.dialog_current_user {
		flex-grow: 1;
		background: url("./DAVNsOI.jpg") 0 0/450px 500px repeat;
		overflow-y: overlay;
		max-height: 843px;
		padding: 0 0 33px 0;
		border-radius: 0 5px 5px 0;
		display: flex;
		flex-direction: column;
		&::-webkit-scrollbar {
			width: 12px; /* Remove scrollbar space */
		}
		&:hover {
			&::-webkit-scrollbar-track {
				background: rgba(241, 241, 241, 0.322);
				background-clip: padding-box;
				border: 4px solid transparent;
				border-radius: 9999px;
			}
			&::-webkit-scrollbar-thumb {
				border: 4px solid rgba(0, 0, 0, 0);
				background-clip: padding-box;
				border-radius: 9999px;
				background-color: rgba(255, 255, 255, 0.475);
			}
			&::-webkit-scrollbar-thumb:hover {
				background: rgb(89, 55, 55);
				border: 3px solid transparent;
				background-clip: padding-box;
				border-radius: 9999px;
				background-color: #ffffff;
			}
		}
	}
}
.friend_picture {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	.friend_img {
		transform: scale(3.5, 3.5);
		object-fit: cover;
		object-position: -12px -11px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
}
.my_picture {
	// justify-content: end;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	.my_img {
		transform: scale(3.5, 3.5);
		object-fit: cover;
		object-position: -12px -11px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
}
 
